.button {
  color: white;
  background-color: #23a1e0;
  font-family: "Raleway", sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 0.15rem;
  border-color: #23a1e0;
  padding: 1.25rem 1.75rem;
  margin: 1rem;
}
